.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.controls button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(242, 169, 34);
  background-color: gray;
}
